<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
	<ul>
		<li><a href="/admin">Home</a></li>
		<li style="float:right"><a href="/logout">Log Out</a></li>
		<li style="float:right">
			<div class="dropdown">
				<div class="dropbtn">Profile</div>
				<div class="dropdown-content">
					<a href="/admin/profile">View Profile</a>
					<a href="/admin/editProfile">Edit Profile</a>
				</div>
			</div>
		</li>
		<li style="float:right"><a class="active" href="/admin/restaurantList">All Restaurants</a></li>
		<li style="float:right"><a href="/admin/addRestaurant">Add Restaurant</a></li>
    </ul>
    <div align="center">
        <span align="center">
            <h3>All Restaurants</h3>
        </span>
        <table border="1px" width="80%" >
            <tr>
                <th width="10%">ID</th>
                <th width="30%">Name</th>
                <th width="20%">Type</th>
                <th width="20%">Location</th>
                <th width="20%">Action</th>
            </tr>
    
            <% for(var i=0; i < restaurantList.length; i++){ %>
            <tr>
                <td><%= restaurantList[i].R_ID %></td>
                <td><%= restaurantList[i].R_NAME %></td>
                <td><%= restaurantList[i].R_TYPE %></td>
                <td><%= restaurantList[i].R_LOCATION %></td>
                <td>
                    <a href="/admin/restaurant/view/<%= restaurantList[i].R_ID %>">View Menu</a> |
                    <a href="/admin/restaurant/addMenu/<%= restaurantList[i].R_ID %>">Add Menu</a> |
                    <a href="/admin/restaurant/delete/<%= restaurantList[i].R_ID %>">Delete</a> 
                </td>
            </tr>
            <% } %>
        </table>
    </div>
	
</body>
</html>