<!DOCTYPE html>
<html>
    <head>
        <title>Food Blog</title>
        <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </head>

    <body>
        <ul>
            <li><a class="active"  href="/">Home</a></li>
            <li style="float:right"><a href="/login">Log In</a></li>
            <li style="float:right">
                <div class="dropdown">
                    <div class="dropbtn">Sign Up</div>
                    <div class="dropdown-content">
                        <a href="/signup/member">Member</a>
                        <a href="/signup/admin">Admin</a>
                    </div>
                </div>
            </li>
        </ul>
        <img src="/pictures/indexWallpaper.JPG" width="100%"/>
        <br/>
        <div align="center">
            <span align="center">
                <h3>All Restaurants</h3>
            </span>
            <table width="80%">
                <tr>
                    <th width="10%">Logo</th>
                    <th width="30%">Name</th>
                    <th width="20%">Type</th>
                    <th width="20%">Location</th>
                    <th width="20%">Action</th>
                </tr>
                <% for(var i=0; i < restaurantList.length; i++){ %>
                <tr align="center">
                    <td>
                        <img align="center" src="<%= restaurantList[i].R_IMAGE %>" alt="logo" height="100px" width="100px"/>
                    </td>
                    <td><%= restaurantList[i].R_NAME %></td>
                    <td><%= restaurantList[i].R_TYPE %></td>
                    <td><%= restaurantList[i].R_LOCATION %></td>
                    <td>
                        <a href="/restaurant/<%= restaurantList[i].R_ID %>">View</a>
                    </td>
                </tr>
                <% } %>
            </table>
        </div>
    </body>
</html>