<!DOCTYPE html>
<html>
<head>
	<title>All Menu</title>
	<link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
    <ul>
        <li><a href="/">Home</a></li>
        <li style="float:right"><a href="/login">Log In</a></li>
        <li style="float:right">
            <div class="dropdown">
                <div class="dropbtn">Sign Up</div>
                <div class="dropdown-content">
                    <a href="/signup/member">Member</a>
                    <a href="/signup/admin">Admin</a>
                </div>
            </div>
        </li>
    </ul>
    <div align="center">
        <span align="center">
            <img align="center" src="<%=restaurant.R_IMAGE%>" alt="logo" height="200px" width="200px"/>
        </span>
        <span align="center">
            <h2><%=restaurant.R_NAME%></h2>
        </span>
        <span align="center">
            <i><%=restaurant.R_DESCRIPTION%></i>
        </span>
        <br/>
        <span align="center"><%=restaurant.R_TYPE%></span>
        <br/>
        <span align="center"><%=restaurant.R_LOCATION%></span>
        <br/>
        <br/>
        <span align="center">
            <h3>All Menu</h3>
        </span>
        <br/>
        <table border="1px"width="60%" align="center" >
            <tr>
                <th width="15%">ID</th>
                <th width="15%">Title</th>
                <th width="30%">Description</th>
                <th width="30%">Image</th>
                <th width="10%">Action</th>
            </tr>
    
            <% for(var i=0; i < menuList.length; i++){ %>
            <tr>
                <td align="center"><%= menuList[i].F_ID %></td>
                <td align="center"><%= menuList[i].F_TITLE %></td>
                <td align="center"><%= menuList[i].F_DESCRIPTION %></td>
                <td align="center">
                    <img align="center" src="<%= menuList[i].F_IMAGE %>" alt="logo" height="200px" width="200px"/>
                </td>
                <td align="center">
                    <a href="/restaurant/<%= menuList[i].R_ID %>/menu/review/<%= menuList[i].F_ID %>">Read Review</a>
                </td>
            </tr>
            <% } %>
        </table>
    </div>
</body>
</html>